
<%= simple_form_for @doctor do |f| %>
  <div class="form-inputs">
    <%= f.input :first_name %>
  </div>
  <div class="form-inputs">
    <%= f.input :last_name %>
  </div>
  <div class="form-inputs">
    <%= f.input :address, as: :text %>
  </div>
  <div class="form-inputs">
    <%= f.input :gender, collection: ["Male", "Female"] %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
